# String Concatenation

In [1]:
s1 = "Hello"
s2 = "Rahul"
s3 = s1 + s2
print(s3)

HelloRahul

In [2]:
s3 = s1 + " " + s2
print(s3)

Hello Rahul

In [7]:
s4 = "DataScience"
a = 10
c = s4 + a 
print(c)

TypeError: can only concatenate str (not "int") to str

In [8]:
type(a)

int

In [9]:
s4 = "DataScience"
a = '10'
c = s4 + a 
print(c)

DataScience10

In [5]:
type(a)

str

# Python type Casting 

1. Implicit casting - In Implicit type casting, the python complier internally typecasts one variable into another type without the external action of the user.

2. Explicit casting - In explicit type casting, the user explicitly forces the complier to convert a variable from one type to another type.

In [14]:
#implicit casting
int_num = 100   #integer data type
float_num = 1.01   #float data type
print(type(int_num))
print(type(float_num))
ans = int_num + float_num
print(type(ans))     #becuase float have greatest precision 
ans

<class 'int'>
<class 'float'>
<class 'float'>

101.01

In [21]:
# Explicit casting
var = 123  #int 
#var
str(var)

'123'

In [18]:
var = 123
float(var)

123.0

In [19]:
s4 = "DataScience"  #string data type
a = 10   #integer data type
c = s4 + str(a) 
print(c)

DataScience10

In [22]:
# Float to Integer
var = 7.8
print(int(var))

7

In [23]:
# String functions

s = "datascience"
s.upper()     # () , {} , []

'DATASCIENCE'

In [24]:
s.capitalize()

'Datascience'

In [25]:
str1 = "this is a data science community"
str1.capitalize()

'This is a data science community'

In [26]:
str2 = "HELLO"
str2.lower()

'hello'

In [27]:
str1.title()

'This Is A Data Science Community'

In [29]:
s.replace("da", "ds")

'dstascience'

In [30]:
str4 = "one two three one two one four fifty fifty"
str4.count('one')

3

In [33]:
first_day = "Monday"
second_day = "Tuesday"

#format function

"First day is  and Second day is {}".format(first_day,second_day)

'First day is  and Second day is Monday'

In [34]:
str2 = "day"

In [35]:
str2*5

'daydaydaydayday'

In [37]:
str2+str(5)

'day5'

In [38]:
str2/7

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Relational Opertors in Python

1. ==  Is Equal To
2. >=  Is Greater than or Equal to
3. <=  Is Less than Equal to
4. >  Is Greater than
5. <  Is Less than 
6. != NotEqual to

In [40]:
10 == 10
10 =='10'

False

In [41]:
10 > 20

False

In [42]:
10 != 20

True

In [43]:
(2+3) >= (4+1)

True

# Boolean Operators in Python 

1. and - Return True if both operands are True , else False
2. or - Return True if one of the operands is true , else False
3. not - Return value opposite to the truth value of the expression

In [44]:
#and operator
print(True and False)

False

In [45]:
#or operator
print(True or False)

True

In [46]:
#not operator
print(not False)

True

In [ ]:
to